/*
	@file:
		_content.scss

	@description:
		Example of 'content' specific styles
	
	@implementation:
		File is included in the main.scss file via the
		@include function
*/

#content {
  
  .content--wrapper {
  
    @include respond-to('mobile') {
  
      padding-bottom: rem(30px);
      margin-bottom: rem(50px);
    
    }
  
    @include respond-to('mobile-big') {
  
      padding-bottom: rem(30px);
      margin-bottom: rem(50px);
    
    }
  
    @include respond-to('tablet-portrait') {
  
      padding-bottom: rem(30px);
      margin-bottom: rem(50px);
    
    }
  
    @include respond-to('tablet-landscape') {
  
      padding-bottom: rem(30px);
      margin-bottom: rem(50px);
  
      display: flex;
      align-items: center;
    
    }
  
    @include respond-to('desktop') {
  
      padding-bottom: rem(30px);
      margin-bottom: rem(50px);
  
      display: flex;
      align-items: center;
    
    }
    
    @include grid-container(rem(1220px));
    padding: 0 rem(20px);
    box-sizing: border-box;
    
    &:after {
  
      @include respond-to('mobile') {
  
        display: none;
    
      }
  
      @include respond-to('mobile-big') {
  
        display: none;
    
      }
  
      @include respond-to('tablet-portrait') {
  
        display: none;
    
      }
  
      @include respond-to('tablet-landscape') {
  
        display: block;
    
      }
  
      @include respond-to('desktop') {
        
        display: block;
    
      }
  
      content: "";
      position: absolute;
      bottom: 0;
      left: rem(20px);
      right: rem(20px);
      
      height: rem(1px);
      background-color: $color--grey__light;
      
    }
    
  }
  
  .col--left {
  
    @include respond-to('mobile') {
  
      width: 100%;
      padding: 0 rem(20px);
      box-sizing: border-box;
      margin-bottom: rem(30px);
    
    }
  
    @include respond-to('mobile-big') {
  
      width: 100%;
    
    }
  
    @include respond-to('tablet-portrait') {
  
      width: 100%;
    
    }
  
    @include respond-to('tablet-landscape') {
  
      max-width: rem(280px);
      padding: 0;
      box-sizing: content-box;
      margin-bottom: 0;
    
    }
  
    @include respond-to('desktop') {
  
      max-width: rem(280px);
    
    }
    
    p {
      
      @include rfs(13);
      line-height: 1.92;
      font-weight: $weight--bold;
      color: $color--grey;
      
    }
    
  }
  
  .col--right {
  
    @include respond-to('mobile') {
  
      width: 100%;
      padding: 0 rem(20px);
    
    }
  
    @include respond-to('mobile-big') {
  
      width: 100%;
    
    }
  
    @include respond-to('tablet-portrait') {
  
      width: 100%;
    
    }
  
    @include respond-to('tablet-landscape') {
  
      max-width: rem(800px);
      padding: 0;
      padding-left: rem(50px);
    
    }
  
    @include respond-to('desktop') {
  
      max-width: rem(800px);
      padding-left: rem(50px);
    
    }
    
    box-sizing: border-box;
    
  }
  
  .content__paragraph {
    
    p {
      
      @include rfs(13);
      line-height: 1.54;
      font-weight: $weight--regular;
      color: $color--grey;
      
      margin-top: rem(20px);
      
      &:nth-child(1) {
        
        margin-top: 0;
        
      }
      
    }
    
  }
  
}
