/*
	@file:
		_base.scss

	@description:
		Example of 'base' specific styles
	
	@implementation:
		File is included in the main.scss file via the
		@include function
*/

body {
  
  @include font-smoothing();
  position: relative;
  // font-size: 62.5%; // Make sure we get the 10px base font size
  text-rendering: optimizeLegibility;
  visibility: visible;
  font-family: $ubuntu;
  
  &.sideMenu--open,
  &.profile--active {
    
    overflow: hidden;
    
  }
  
}

#core {
  
  @include respond-to('mobile') {
  
    margin-top: rem(67px);
    
  }
  
  @include respond-to('mobile-big') {
  
    margin-top: rem(67px);
    
  }
  
  @include respond-to('tablet-portrait') {
  
    margin-top: rem(67px);
    
  }
  
  @include respond-to('tablet-landscape') {
  
    margin-top: rem(80px);
    
  }
  
  @include respond-to('desktop') {
  
    margin-top: rem(80px);
    
  }
  
  overflow: hidden;
  
}
