/*
	@file:
		_typography.scss

	@description:
		Example of 'typography' specific styles
	
	@implementation:
		File is included in the main.scss file via the
		@include function
*/

// Font import
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i&subset=greek-ext,latin-ext');

// Fonts used
$ubuntu   : 'Ubuntu', sans-serif;

// Font weights
$weight--light      : 300;
$weight--regular    : 400;
$weight--medium     : 500;
$weight--bold       : 700;

a {
  
  color: inherit;
  text-decoration: none;
  
}
