@include respond-to('mobile') {



}

@include respond-to('mobile-big') {



}

@include respond-to('tablet-portrait') {



}

@include respond-to('tablet-landscape') {



}

@include respond-to('desktop') {



}
