/*
	@file:
		_animations.scss

	@description:
		SASS file that handles all the animations
		used in the project.

	@implementation:
		File is included in the main.scss file via the
		@include function
*/

@mixin animationBezier {
  
  transition: all 0.4s cubic-bezier(0.73, 0.14, 0.14, 0.78);
  
}
