/*
	@file:
		_buttons.scss

	@description:
		Example of 'buttons' specific styles
	
	@implementation:
		File is included in the main.scss file via the
		@include function
*/

.btn--cta__pink {
  
  @include rfs(14);
  font-weight: $weight--medium;
  line-height: 1;
  color: $color--white;
  box-shadow: 0 15px 20px 0 rgba(234, 168, 159, 0.2);
  
  position: relative;
  display: inline-block;
  padding: rem(18px) rem(30px);
  border-radius: rem(3px);
  background: linear-gradient(to left, $color--pink, $color--pink__dark);
  //box-shadow: 0 15px 20px 0 rgba($color--pink__dark, 0.2); // Hex should be #eaa89f, but #eaa79e is used because they are basically the same
  
  @include animationBezier;
  //animation: gradientAnim 0.4s ease infinite;
  
  &:before {
    
    content: "";
    position: absolute;
    z-index: -1;
    
    top: 0;
    left: 50%;
    height: rem(2px);
    width: 90%;
    transform: translateX(-50%);
    
    background-color: $color--pink;
    
    @include animationBezier;
    
  }
  
  &:after {
    
    content: "";
    position: absolute;
    z-index: -1;
    
    bottom: 0;
    left: 50%;
    height: rem(2px);
    width: 90%;
    transform: translateX(-50%);
    
    background-color: $color--pink;
    
    @include animationBezier;
    
  }
  
  &:hover {
  
    animation: gradientAnim 0.4s ease infinite;
    opacity: 0.9;
    
    &:before {
      
      transform: translateX(-150%);
      opacity: 0;
      
    }
    
    &:after {
      
      transform: translateX(150%);
      opacity: 0;
      
    }
  
  }
  
}


@keyframes gradientAnim {
  
  0% {
    
    background-position: 0% 50%
    
  }
  
  50% {
    
    background-position: 100% 50%
    
  }
  
  100% {
    
    background-position: 0% 50%
    
  }
  
}

.btn--oval__pink {
  
  @extend .btn--cta__pink;
  
  border-radius: rem(50px);
  box-shadow: 0 15px 20px 0 rgba(234, 168, 159, 0.2);
  display: inline-block;
  padding: rem(12px) rem(27px);
  
  &:before,
  &:after {
    
    display: none;
    
  }
  
}
