/*
	@file:
		_cards.scss

	@description:
		Example of 'cards' specific styles
	
	@implementation:
		File is included in the main.scss file via the
		@include function
*/

#cards {
  
  .cards--wrapper {
  
    @include grid-container(rem(1220px));
    padding: 0 rem(10px);
    box-sizing: border-box;
    
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    
  }

}

.card__single {
  
  @include respond-to('mobile') {
  
    width: 100%;
    
  }
  
  @include respond-to('mobile-big') {
  
    width: 100%;
    
  }
  
  @include respond-to('tablet-portrait') {
  
    width: 50%;
    
  }
  
  @include respond-to('tablet-landscape') {
  
    width: 25%;
    
  }
  
  @include respond-to('desktop') {
  
    width: 25%;
    
  }
  
  padding: 0 rem(10px) rem(20px) rem(10px);
  box-sizing: border-box;
  position: relative;
  
  top: rem(75px);
  opacity: 0;
  
  .card__single--wrapper {
  
    border-radius: rem(3px);
  
    box-shadow: 0 15px 30px 0 rgba($color--black, 0.05);
    
  }
  
  .card--img {
    
    position: relative;
    
    .img {
  
      width: 100%;
      //height: rem(280px);
      overflow: hidden;
      
    }
    
    img {
      
      width: 100%;
      height: auto;
      
    }
    
    .location {
      
      position: absolute;
      top: rem(20px);
      left: rem(20px);
      z-index: 1;
      
      display: flex;
      align-items: center;
      
      background-color: $color--white;
      border-radius: rem(20px);
      
      padding: rem(5px) rem(15px);
  
      box-shadow: 0 15px 30px 0 rgba($color--black, 0.05);
      
    }
    
    .locName {
      
      @include rfs(12);
      line-height: 1;
      font-weight: $weight--regular;
      color: $color__pink__txt;
      
      margin-left: rem(10px);
      
    }
    
  }
  
  .card--info {
    
    padding: rem(20px);
    box-sizing: border-box;
    
  }
  
  .card--meta {
    
    display: flex;
    align-items: center;
    
    margin-bottom: rem(20px);
    
    .authorImg {
      
      width: rem(40px);
      border-radius: 100%;
      overflow: hidden;
      
    }
    
    img {
      
      width: 100%;
      height: auto;
      
    }
    
    .flowerInfo {
      
      margin-left: rem(15px);
      
    }
    
    .flowerName {
      
      @include rfs(15);
      line-height: 1;
      font-weight: $weight--regular;
      color: $color--grey__title;
      
      display: block;
      margin-bottom: rem(5px);
    
    }
    
    .authorName {
      
      @include rfs(12);
      line-height: 1;
      font-weight: $weight--regular;
      color: $color--grey;
      font-style: italic;
      
    }
  
  }
  
  .card--desc {
    
    padding-bottom: rem(20px);
    margin-bottom: rem(20px);
    border-bottom: rem(1px) solid $color--grey__light;
    
    p {
      
      @include rfs(13);
      line-height: 1.15;
      font-weight: $weight--regular;
      color: $color--grey;
      
      text-align: justify;
      
    }
    
  }
  
  .card--options {
  
    @include respond-to('mobile') {
  
      display: flex;
      align-items: center;
    
    }
  
    @include respond-to('mobile-big') {
  
      display: flex;
      align-items: center;
    
    }
  
    @include respond-to('tablet-portrait') {
  
      display: flex;
      align-items: center;
    
    }
  
    @include respond-to('tablet-landscape') {
      
      display: block;
    
    }
  
    @include respond-to('desktop') {
  
      display: flex;
      align-items: center;
    
    }
    
    .optionElement {
  
      @include respond-to('mobile') {
  
        margin-bottom: 0;
    
      }
  
      @include respond-to('mobile-big') {
  
        margin-bottom: 0;
    
      }
  
      @include respond-to('tablet-portrait') {
  
        margin-bottom: 0;
    
      }
  
      @include respond-to('tablet-landscape') {
  
        margin-bottom: rem(10px);
    
      }
  
      @include respond-to('desktop') {
        
        margin-bottom: 0;
    
      }
  
      display: flex;
      align-items: center;
      cursor: pointer;
      
      &:hover {
        
        svg {
          
          fill: $color--grey__title;
          
        }
        
        span {
          
          color: $color--grey__title;
          
        }
        
      }
      
      &:nth-child(1) {
        
        margin-right: rem(20px);
        
      }
      
    }
    
    svg {
      
      fill: $color--grey__fill;
      
      @include animationBezier;
      
    }
  
    span {
      
      @include rfs(12);
      line-height: 1;
      font-weight: $weight--regular;
      color: $color--grey;
      
      margin-left: rem(10px);
      
      @include animationBezier;
    
    }
    
  }
  
}

#flowers {
  
  .flowers--wrapper {
    
    @include grid-container(rem(1220px));
    padding: 0 rem(10px);
    box-sizing: border-box;
    
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    
  }
  
}

.flower__single {
  
  @include respond-to('mobile') {
  
    width: 100%;
    
  }
  
  @include respond-to('mobile-big') {
    
    width: 50%;
    
  }
  
  @include respond-to('tablet-portrait') {
    
    width: 50%;
    
  }
  
  @include respond-to('tablet-landscape') {
    
    width: 33.333333%;
    
  }
  
  @include respond-to('desktop') {
    
    width: 25%;
    
  }
  
  padding: 0 rem(10px) rem(20px) rem(10px);
  box-sizing: border-box;
  position: relative;
  
  top: rem(75px);
  opacity: 0;
  
  &:hover {
    
    .flower__star {
      
      background-color: $color--pink__dark;
  
      svg {
    
        fill: $color--white;
    
      }
      
    }
    
    .flower--info {
  
      .sightings {
    
        background-color: $color--pink__dark;
    
      }
      
    }
    
  }
  
  .flower__single--wrapper {
    
    border-radius: rem(3px);
    box-shadow: 0 15px 30px 0 rgba($color--black, 0.05);
    position: relative;
    
  }
  
  .flower--img {
  
    position: relative;
    z-index: -1;
    overflow: hidden;
  
    min-height: rem(230px);
    
    &:before {
      
      content: "";
      position: absolute;
      z-index: 1;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
  
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
      
    }
    
    .img {
  
      @include respond-to('mobile') {
  
        height: rem(230px);
    
      }
  
      @include respond-to('mobile-big') {
  
        height: rem(230px);
    
      }
  
      @include respond-to('tablet-portrait') {
  
        height: auto;
    
      }
  
      @include respond-to('tablet-landscape') {
  
        height: auto;
    
      }
  
      @include respond-to('desktop') {
  
        height: auto;
    
      }
  
      width: 100%;
      overflow: hidden;
      
    }
    
    img {
  
      @include respond-to('mobile') {
  
        width: 100%;
        height: 100%;
        vertical-align: bottom;
        object-fit: cover;
    
      }
  
      @include respond-to('mobile-big') {
  
        width: 100%;
        height: 100%;
    
      }
  
      @include respond-to('tablet-portrait') {
  
        width: 100%;
        height: auto;
        vertical-align: bottom;
    
      }
  
      @include respond-to('tablet-landscape') {
  
        width: 100%;
        height: auto;
        vertical-align: bottom;
    
      }
  
      @include respond-to('desktop') {
  
        width: 100%;
        height: auto;
        vertical-align: bottom;
    
      }
      
    }
    
  }
  
  .flower__star {
    
    position: absolute;
    top: rem(20px);
    right: rem(20px);
    
  }
  
  .flower--info {
    
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: rem(20px);
    
    text-align: center;
    
    .name {
      
      @include rfs(20);
      line-height: 0.75;
      font-weight: $weight--regular;
      color: $color--white;
      
      display: block;
      margin-bottom: rem(7px);
      
    }
    
    .desc {
      
      margin-bottom: rem(20px);
      
    }
  
    p {
    
      @include rfs(12);
      line-height: 1;
      font-weight: $weight--regular;
      font-style: italic;
      color: rgba($color--white, 0.7);
    
    }
    
    .sightings {
  
      @include rfs(12);
      line-height: 1;
      color: $color--white;
  
      background-color: rgba($color--black, 0.2);
      border-radius: rem(20px);
  
      padding: rem(9px) rem(15px);
      margin-left: rem(10px);
  
      cursor: pointer;
      display: inline-block;
  
      @include animationBezier;
  
      &:hover {
    
        background-color: $color--pink__dark;
    
      }
      
    }
    
  }
  
}
