/*
	@file:
		_hero.scss

	@description:
		Example of 'hero' specific styles
	
	@implementation:
		File is included in the main.scss file via the
		@include function
*/

#hero {
  
  @include respond-to('mobile') {
  
    height: rem(350px);
    margin-bottom: rem(80px);
    
  }
  
  @include respond-to('mobile-big') {
    
    height: rem(350px);
    
  }
  
  @include respond-to('tablet-portrait') {
  
    height: rem(350px);
    margin-bottom: rem(50px);
    
  }
  
  @include respond-to('tablet-landscape') {
  
    height: rem(350px);
    
  }
  
  @include respond-to('desktop') {
  
    height: rem(350px);
    
  }
  
  width: 100%;
  position: relative;
  
  //background-size: cover;
  //background-repeat: no-repeat;
  //background-position: center center;
  //overflow: hidden;
  
  .hero--img {
  
    width: 100%;
    height: 100%;
    position: absolute;
  
    &:before {
    
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    
      background-image: linear-gradient(to bottom, rgba($color--black, 0), rgba($color--black, 0.4));
    
    }
    
    img {
      
      width: 100%;
      height: 100%;
      object-fit: cover;
      
    }
    
  }
  
  &.hero--search {
  
    @include respond-to('mobile') {
  
      margin-bottom: rem(40px);
    
    }
  
    @include respond-to('mobile-big') {
  
      margin-bottom: rem(40px);
    
    }
  
    @include respond-to('tablet-portrait') {
  
      margin-bottom: rem(90px);
    
    }
  
    @include respond-to('tablet-landscape') {
  
      margin-bottom: rem(90px);
    
    }
  
    @include respond-to('desktop') {
      
      margin-bottom: rem(90px);
    
    }
  
    height: rem(500px);
    
    .hero--wrapper {
      
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
      
      width: 100%;
      max-width: rem(640px);
      
      text-align: center;
      
    }
  
    .search--elements {
    
      width: 100%;
    
    }
    
    .search--title {
      
      //@include rfs(40);
      font-size: rem(40px);
      line-height: 1;
      font-weight: $weight--light;
      color: $color--white;
      
      margin-bottom: rem(15px);
      
    }
    
    .search--subtitle {
      
      margin-bottom: rem(45px);
    
    }
    
    p {
      
      @include rfs(17);
      line-height: 1;
      font-weight: $weight--light;
      color: rgba($color--white, 0.7);
      
    }
    
    .search--input {
    
    
    
    }
    
    .search--form {
      
      position: relative;
      
    }
    
    input[type="search"] {
  
      @include respond-to('mobile') {
  
        padding: rem(17px) rem(19px);
        padding-right: rem(45px);
        @include rfs(12);
    
      }
  
      @include respond-to('mobile-big') {
  
        padding: rem(17px) rem(19px);
        @include rfs(14);
    
      }
  
      @include respond-to('tablet-portrait') {
  
        padding: rem(19px) rem(19px);
        @include rfs(18);
    
      }
  
      @include respond-to('tablet-landscape') {
  
        padding: rem(19px) rem(19px);
    
      }
  
      @include respond-to('desktop') {
  
        padding: rem(19px) rem(19px);
    
      }
  
      width: 100%;
      box-sizing: border-box;
  
      -webkit-appearance: none;
      -webkit-border-radius: 0;
      border: none;
      border-radius: rem(3px);
      
      line-height: 1.25;
      font-weight: $weight--light;
      color: $color--grey;
      
      outline: none;
      
      &::placeholder {
  
        @include respond-to('mobile') {
  
          @include rfs(12);
    
        }
  
        @include respond-to('mobile-big') {
  
          @include rfs(14);
    
        }
  
        @include respond-to('tablet-portrait') {
  
          @include rfs(18);
    
        }
  
        @include respond-to('tablet-landscape') {
  
          @include rfs(18);
    
        }
  
        @include respond-to('desktop') {
  
          @include rfs(18);
    
        }
        
        line-height: 1.25;
        font-weight: $weight--light;
        color: $color--grey;
        
        @include animationBezier;
        
      }
      
      &:focus {
        
        &::placeholder {
          
          opacity: 0;
          
        }
        
      }
      
    }
    
    input[type="submit"] {
      
      position: absolute;
      right: rem(20px);
      top: 50%;
      transform: translateY(-50%);
      
      outline: none;
      display: none;
      
    }
    
    svg.search {
  
      position: absolute;
      right: rem(20px);
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      
      fill: $color--pink__dark;
      
      @include animationBezier;
      
      &:hover {
        
        fill: darken($color--pink__dark, 25%);
        
      }
      
    }
    
  }
  
  .hero--mobile {
  
    @include respond-to('mobile') {
      
      display: block;
      height: rem(350px);
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
  
      overflow: hidden;
    
    }
  
    @include respond-to('mobile-big') {
    
      display: block;
      height: rem(350px);
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    
      overflow: hidden;
    
    }
  
    @include respond-to('tablet-portrait') {
  
      display: block;
      height: rem(350px);
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
  
      overflow: hidden;
    
    }
  
    @include respond-to('tablet-landscape') {
  
      display: none;
    
    }
  
    @include respond-to('desktop') {
  
      display: none;
    
    }
    
    img {
  
      @include respond-to('mobile') {
  
        height: 100%;
        width: 100%;
        object-fit: cover;
    
      }
  
      @include respond-to('mobile-big') {
  
        height: 100%;
        width: 100%;
        object-fit: cover;
    
      }
  
      @include respond-to('tablet-portrait') {
  
        height: 100%;
        width: 100%;
        object-fit: cover;
    
      }
  
      @include respond-to('tablet-landscape') {
  
        width: 100%;
        height: auto;
    
      }
  
      @include respond-to('desktop') {
  
        width: 100%;
        height: auto;
    
      }
      
    }
    
  }
  
  .hero--wrapper {
  
    @include respond-to('mobile') {
      
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    
    }
  
    @include respond-to('mobile-big') {
  
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    
    }
  
    @include respond-to('tablet-portrait') {
  
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    
    }
  
    @include respond-to('tablet-landscape') {
  
      position: relative;
      bottom: auto;
      left: auto;
      right: auto;
    
    }
  
    @include respond-to('desktop') {
  
      position: relative;
      bottom: auto;
      left: auto;
      right: auto;
    
    }
    
    @include grid-container(rem(1220px));
    padding: 0 rem(20px);
    box-sizing: border-box;
    
    //transform: translateY(50px);
    
    display: flex;
  
  }
  
  .hero--flower__mainImg {
  
    @include respond-to('mobile') {
      
      display: none;
    
    }
  
    @include respond-to('mobile-big') {
  
      display: none;
    
    }
  
    @include respond-to('tablet-portrait') {
  
      display: none;
    
    }
  
    @include respond-to('tablet-landscape') {
  
      display: block;
    
    }
  
    @include respond-to('desktop') {
  
      display: block;
    
    }
  
    width: 100%;
    max-width: rem(280px);
    max-height: rem(350px);
    overflow: hidden;
    border-radius: rem(3px);
    
    transform: translateY(50px);
    
    img {
      
      width: 100%;
      height: auto;
      
    }
    
  }
  
  .hero--content {
  
    @include respond-to('mobile') {
  
      padding-left: rem(20px);
      margin-bottom: rem(-25px);
    
    }
  
    @include respond-to('mobile-big') {
  
      padding-left: rem(20px);
    
    }
  
    @include respond-to('tablet-portrait') {
  
      padding-left: rem(20px);
      display: flex;
      justify-content: space-between;
      margin-bottom: rem(50px);
    
    }
  
    @include respond-to('tablet-landscape') {
  
      padding-left: rem(35px);
    
    }
  
    @include respond-to('desktop') {
  
      padding-left: rem(50px);
    
    }
    
    width: 100%;
    max-width: rem(800px);
    box-sizing: border-box;
    
  }
  
  .hero--details {
  
    @include respond-to('mobile') {
  
      margin-bottom: rem(40px);
    
    }
  
    @include respond-to('mobile-big') {
  
      margin-bottom: rem(40px);
    
    }
  
    @include respond-to('tablet-portrait') {
  
      margin-bottom: 0;
    
    }
  
    @include respond-to('tablet-landscape') {
  
      margin-bottom: 0;
    
    }
  
    @include respond-to('desktop') {
      
      margin-bottom: 0;
    
    }
  
    align-self: flex-end;
    
  }
  
  .hero--flower__meta {
    
    display: flex;
    align-items: center;
    
    margin-bottom: rem(20px);
    
    .hero--flower__sightings {
      
      @include rfs(12);
      line-height: 1;
      color: $color--white;
      
      background-color: rgba($color--black, 0.2);
      border-radius: rem(20px);
      
      padding: rem(9px) rem(15px);
      margin-left: rem(10px);
      
      cursor: pointer;
      
      @include animationBezier;
      
      &:hover {
        
        background-color: $color--pink__dark;
        
      }
      
    }
    
  }
  
  .hero--flower__title {
    
    //@include rfs(35); // Use this for responsive font size if needed (longer titles, etc.)
    font-size: rem(35px);
    line-height: 1;
    font-weight: $weight--light;
    color: $color--white;
    
    margin-bottom: rem(10px);
    
  }
  
  .hero--flower__subtitle {
    
    p {
      
      @include rfs(14);
      line-height: 1;
      font-weight: $weight--light;
      color: rgba($color--white, 0.7);
      
    }
    
  }
  
  .hero--flower__cta {
  
    align-self: flex-end;
    
    a {
      
      @extend .btn--cta__pink;
      
    }
    
  }
  
}
