/*
	@file:
		_profile.scss

	@description:
		Example of 'profile' specific styles
	
	@implementation:
		File is included in the main.scss file via the
		@include function
*/

#profileCard {
  
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  
  background-color: rgba($color--black, 0.5);
  
  opacity: 0;
  visibility: hidden;
  
  @include animationBezier;
  
  .profile--active & {
    
    opacity: 1;
    visibility: visible;
    
  }
  
  .profileCard--wrapper {
  
    @include respond-to('mobile') {
  
      top: rem(67px);
      padding: rem(60px) rem(40px);
      bottom: 0;
    
    }
  
    @include respond-to('mobile-big') {
  
      top: rem(67px);
    
    }
  
    @include respond-to('tablet-portrait') {
  
      top: rem(100px);
      border-radius: rem(3px);
      padding: rem(60px) rem(110px);
      bottom: auto;
    
    }
  
    @include respond-to('tablet-landscape') {
  
      top: rem(100px);
    
    }
  
    @include respond-to('desktop') {
  
      top: rem(150px);
    
    }
  
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(150%);
    
    width: 100%;
    max-width: rem(600px);
    
    box-sizing: border-box;
    
    background-color: $color--white;
    box-shadow: 0 15px 30px 0 rgba($color--black, 0.05);
    
    opacity: 0;
    visibility: hidden;
  
    @include animationBezier;
    
    .profile--active & {
      
      transform: translateX(-50%) translateY(0%);
      opacity: 1;
      visibility: visible;
      
    }
  
  }
  
  #profileClose {
    
    position: absolute;
    right: rem(20px);
    top: rem(20px);
    
    width: rem(20px);
    height: rem(20px);
    display: block;
    
    cursor: pointer;
    
    &:before {
      
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%) rotate(45deg);
      
      width: 100%;
      height: rem(1px);
      background-color: $color--grey;
      
      @include animationBezier;
      
    }
  
    &:after {
    
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    
      width: 100%;
      height: rem(1px);
      background-color: $color--grey;
    
      @include animationBezier;
    
    }
    
    &:hover {
      
      &:before {
  
        transform: translateX(-50%) translateY(-50%) rotate(-180deg);
        
      }
  
      &:after {
    
        transform: translateX(-50%) translateY(-50%) rotate(-180deg);
    
      }
      
    }
    
  }
  
  .user--mainInfo {
    
    display: flex;
    align-items: center;
    
    margin-bottom: rem(40px);
    
    .avatar {
      
      width: rem(80px);
      height: rem(80px);
      border-radius: 100%;
      overflow: hidden;
      
    }
    
    img {
      
      width: 100%;
      height: auto;
      
    }
    
    .misc {
      
      margin-left: rem(30px);
      
    }
    
    .name {
      
      @include rfs(25);
      line-height: 1;
      font-weight: $weight--light;
      color: $color--grey__title;
      
      margin-bottom: rem(6px);
      
    }
    
    .sightings {
      
      @include rfs(13);
      line-height: 1;
      font-weight: $weight--regular;
      color: $color--grey;
      
    }
    
  }
  
  .user--accountInfo {
    
    margin-bottom: rem(70px);
    
    .userField {
      
      margin-bottom: rem(30px);
      
    }
    
    .label {
      
      @include rfs(10);
      line-height: 1;
      font-weight: $weight--regular;
      color: $color--grey;
      
      margin-bottom: rem(16px);
      
    }
    
    .text {
      
      @include rfs(18);
      line-height: 0.72;
      font-weight: $weight--regular;
      color: $color--grey__title;
      
    }
    
  }
  
  .user--logout {
    
    text-align: center;
    
    a {
      
      @extend .btn--cta__pink;
      
      display: inline-block;
      padding-left: rem(55px);
      padding-right: rem(55px);
      
    }
    
  }
  
}
