/*
	@file:
		_sidebar.scss

	@description:
		Example of 'sidebar' specific styles
	
	@implementation:
		File is included in the main.scss file via the
		@include function
*/

#sidebarMenu {
  
  &.element--mobile {
  
    @include respond-to('mobile') {
      
      display: block;
    
    }
  
    @include respond-to('tablet-portrait') {
  
      display: block;
    
    }
  
    @include respond-to('tablet-landscape') {
  
      display: none;
    
    }
  
    @include respond-to('desktop') {
  
      display: none;
    
    }
    
  }
  
  position: fixed;
  z-index: 5;
  top: rem(67px);
  bottom: 0;
  left: 0;
  right: 0;
  
  transform: translateX(100%);
  
  background-color: $color--white;
  
  @include animationBezier;
  
  .sideMenu--open & {
  
    @include respond-to('mobile') {
  
      transform: translateX(0%);
    
    }
  
    @include respond-to('mobile-big') {
  
      transform: translateX(0%);
    
    }
  
    @include respond-to('tablet-portrait') {
  
      transform: translateX(50%);
    
    }
  
    @include respond-to('tablet-landscape') {
  
      transform: translateX(50%);
    
    }
  
    @include respond-to('desktop') {
  
      transform: translateX(50%);
    
    }
    
  }
  
  .sidebarMenu--wrapper {
  
    @include respond-to('mobile') {
  
      margin-top: rem(80px);
    
    }
  
    @include respond-to('mobile-big') {
  
      margin-top: rem(115px);
    
    }
  
    @include respond-to('tablet-portrait') {
  
      margin-top: rem(115px);
    
    }
  
    @include respond-to('tablet-landscape') {
  
      margin-top: rem(115px);
    
    }
  
    @include respond-to('desktop') {
  
      margin-top: rem(115px);
    
    }
  
    padding: 0 rem(30px);
    box-sizing: border-box;
    
  }
  
  .menu--container {
  
  
  
  }
  
  .menu {
    
    li {
      
      margin-bottom: rem(50px);
      
    }
    
    a {
  
      @include rfs(14);
      line-height: 1;
      font-weight: $weight--medium;
      color: $color--grey;
  
      @include animationBezier;
  
      &:hover {
    
        color: darken($color--grey, 25%);
    
      }
      
    }
    
  }
  
  .userSettings {
  
  
  
  }
  
  .usrLogin {
  
    margin-bottom: rem(50px);
  
    a {
    
      @include rfs(14);
      line-height: 1;
      font-weight: $weight--medium;
      color: $color--pink__txt;
  
      @include animationBezier;
  
      &:hover {
    
        color: darken($color--pink__txt, 25%);
    
      }
    
    }
    
  }
  
  .usrNew {
    
    a {
      
      @extend .btn--oval__pink;
    
    }
    
  }
  
}
