/*
	@file:
		_starEffects.scss

	@description:
		Example of 'starEffects' specific styles
	
	@implementation:
		File is included in the main.scss file via the
		@include function
*/

.svg--star {
  
  width: rem(30px);
  height: rem(30px);
  background-color: $color--white;
  border-radius: 50%;
  box-shadow: 0 5px 15px 0 rgba($color--black, 0.1);
  
  position: relative;
  cursor: pointer;
  
  @include animationBezier;
  
  &:hover {
    
    background-color: $color--pink__dark;
    
    svg {
      
      fill: $color--white;
      
    }
    
  }
  
  svg {
    
    width: rem(13px);
    height: auto;
    
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    
    fill: $color--grey__fill;
  
    @include animationBezier;
    
  }
  
}
