/*
	@file:
		_userBar.scss

	@description:
		Example of 'userBar' specific styles
	
	@implementation:
		File is included in the main.scss file via the
		@include function
*/

#user__infoBar {
  
  @include respond-to('mobile') {
  
    margin-top: rem(10px);
    margin-bottom: rem(0px);
    
  }
  
  @include respond-to('mobile-big') {
  
    margin-top: rem(10px);
    margin-bottom: rem(0px);
    
  }
  
  @include respond-to('tablet-portrait') {
  
    margin-top: rem(50px);
    margin-bottom: rem(50px);
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.05);
    
  }
  
  @include respond-to('tablet-landscape') {
  
    margin-top: rem(50px);
    margin-bottom: rem(50px);
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.05);
    
  }
  
  @include respond-to('desktop') {
  
    margin-top: rem(50px);
    margin-bottom: rem(50px);
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.05);
    
  }
  
  @include grid-container(rem(1180px));
  padding: rem(30px);
  box-sizing: border-box;
  background-color: $color--white;
  border-radius: rem(3px);
  
  .user__infoBar--wrapper {
  
    @include respond-to('mobile') {
  
      align-items: flex-start;
    
    }
  
    @include respond-to('mobile-big') {
  
      align-items: flex-start;
    
    }
  
    @include respond-to('tablet-portrait') {
  
      align-items: center;
    
    }
  
    @include respond-to('tablet-landscape') {
  
      align-items: center;
    
    }
  
    @include respond-to('desktop') {
  
      align-items: center;
    
    }
  
    display: flex;
    justify-content: space-between;
    
  }
  
  .user--info {
  
    @include respond-to('mobile') {
    
      display: block;
    
    }
  
    @include respond-to('mobile-big') {
    
      display: block;
    
    }
  
    @include respond-to('tablet-portrait') {
    
      display: flex;
      align-items: center;
    
    }
  
    @include respond-to('tablet-landscape') {
    
      display: flex;
      align-items: center;
    
    }
  
    @include respond-to('desktop') {
    
      display: flex;
      align-items: center;
    
    }
    
    .userImg {
  
      @include respond-to('mobile') {
  
        margin-bottom: rem(35px);
    
      }
  
      @include respond-to('mobile-big') {
  
        margin-bottom: rem(35px);
    
      }
  
      @include respond-to('tablet-portrait') {
  
        margin-bottom: 0;
    
      }
  
      @include respond-to('tablet-landscape') {
  
        margin-bottom: 0;
    
      }
  
      @include respond-to('desktop') {
        
        margin-bottom: 0;
    
      }
  
      width: rem(80px);
      height: rem(80px);
      border-radius: 100%;
      overflow: hidden;
      margin-right: rem(30px);
      
    }
    
    img {
      
      width: 100%;
      height: auto;
      
    }
    
    .userData {
    
    
    
    }
    
    .name {
      
      @include rfs(25);
      line-height: 1;
      font-weight: $weight--light;
      color: $color--grey__title;
      
      margin-bottom: rem(6px);
      
    }
    
    .sightings {
      
      @include rfs(13);
      line-height: 1;
      font-weight: $weight--regular;
      color: $color--grey;
      
    }
    
  }
  
  .user--report {
  
    @include respond-to('mobile') {
      
      margin-top: rem(15px);
    
    }
  
    @include respond-to('mobile-big') {
  
      margin-top: rem(15px);
    
    }
  
    @include respond-to('tablet-portrait') {
  
      margin-top: rem(0px);
    
    }
  
    @include respond-to('tablet-landscape') {
  
      margin-top: rem(0px);
    
    }
  
    @include respond-to('desktop') {
  
      margin-top: rem(0px);
    
    }
    
    a {
      
      @extend .btn--cta__pink;
      
    }
    
  }
  
}
