/*
	@file:
		_variables.scss

	@description:
		Example of 'variables' specific styles
	
	@implementation:
		File is included in the main.scss file via the
		@include function
*/

// Color variables
// Base
$color--white           : #FFFFFF;
$color--black           : #000000;

// Color variants
// Grey
$color--grey            : #949ea0;
$color--grey__light     : #e8e9ed;
$color--grey__fill      : #d4d8d9;
$color--grey__title     : #334144;

// Pink
$color--pink            : #ecbcb3;
$color--pink__dark      : #eaa79e;
$color--pink__txt       : #df9186;
