/*
	@file:
		_grid.scss

	@description: 
		Custom made grid used, including all the common
		breakpoints needed for responsive templating
	
	@implementation:
		File is included in the main.scss file via the 
		@include function
*/

// Basic settings
$grid-width    : em(1200px) !default;
$grid-columns  : 12 !default;
$grid-gutter   : em(20px) !default;
$grid-generate : true !default;

// Selector naming
$grid-container-name : 'container' !default;
$grid-column-name: 'col' !default;
$grid-row-name: 'row' !default;
$grid-push-name: 'push' !default;
$grid-pull-name: 'pull' !default;
$grid-offset-name: 'offset' !default;

// Responsive breakpoints
$grid-breakpoints: (

    'mobile'              : rem(320px),
    'mobile-big'          : rem(375px),
    'tablet-portrait'     : rem(520px),
    'tablet-landscape'    : rem(800px),
    'desktop'             : rem(1100px),

);

/*
	@mixin:
		respond-to( $breakpoint )

	@description
		Mixin used to handle responsive queries

	@arguments:
		$breakpoint: Name of desired breakpoint we would like to trigger

	@implementation:		
		@include respond-to( mobile );


*/
@mixin respond-to( $breakpoint ) {

	// Retrive value from map
	$value: map-get( $grid-breakpoints, $breakpoint );

	// Check if value exists
	@if $value != null {

		// Print media query based on breakpoint
		@media (min-width: #{$value}) {

			@content;

		}

	}
	// If the key doesn't exist in the map
	@else {
		@warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
		+ "Please make sure it is defined in `$breakpoints` map.";
	}		

}

/*
	@mixin:
		grid-container( $max-width )

	@description
		Mixin used to define the grid container

	@arguments:
		$max-width: The max width that the container expands to. Variable is optional.

	@implementation:		
		@include grid-container( 120em );

*/
@mixin grid-container( $max-width: $grid-width ) {

  margin: 0 auto;
  width: 100%;
  max-width: $max-width;
  position: relative;

  // Define fluid images
  img {

    //width: auto;
    //max-width: 100%;
    //height: auto;
    //margin: 0 auto;
    //display: block;

  }

}

/*
	@mixin:
		grid-row( )

	@description
		Mixin used to define the grid rows

	@arguments:
		$row-margin: Margin that is passed as a seperator between rows

	@implementation:		
		@include grid-row( 2em );

*/
@mixin grid-row( $row-margin ) {

	// Extend the clrearfix placeholder
	@extend %clearfix;
	width: 100%;
	position: relative;
	
	// Do we need the margin?
	@if $row-margin {
		
		margin: 0 auto ($row-margin/2);

	}
	@else {

		margin: 0 auto;

	}

}

/*
	@mixin:
		grid-column( $column, $grid-gutter )

	@description
		Mixin used to define the grid columns

	@arguments:
		$column: The desired column number that defines the width
		$grid-gutter: Space between the stacked columns. Variable is optional.

	@implementation:		
		@include grid-column( 5 );

*/
@mixin grid-column(

	$column,
	$gutter : $grid-gutter,
	$expand : false

) {

	box-sizing: border-box;
	position: relative;
	float: left;
	min-height: 1px;	
	padding: 0 ($grid-gutter / 2);

	@if $expand {

		width: 100%;

	}
	@else {

		width: (100% / $grid-columns) * $column;

	}

}

/*
	@mixin:
		grid-pull( $column )

	@description
		Mixin used to define the grid pull

	@arguments:
		$column: The desired column number that defines the width

	@implementation:		
		@include grid-pull( 5 );

*/
@mixin grid-pull ( $column ) {
	right: (100% / $grid-columns) * $column;

}

/*
	@mixin:
		grid-push( $column )

	@description
		Mixin used to define the grid push

	@arguments:
		$column: The desired column number that defines the width

	@implementation:		
		@include grid-push( 5 );

*/
@mixin grid-push ( $column ) {
	
	left: (100% / $grid-columns) * $column;
}

/*
	@mixin:
		grid-offset( $column )

	@description
		Mixin used to define the grid offset

	@arguments:
		$column: The desired column number that defines the width

	@implementation:		
		@include grid-offset( 5 );

*/
@mixin grid-offset ( $column ) {

	margin-left: (100% / $grid-columns) * $column;

}

// Time to generate the grid
@if $grid-generate {

	// Create grid container
	.#{$grid-container-name} {

		@include grid-container();

	}

	// Create grid row
	.#{$grid-row-name} {

		@include grid-row( 2em );

	}

	// Loop
	@for $column from 1 through $grid-columns {

		// Create columns
		.#{$grid-column-name}-#{$column} {

			@include grid-column( $column, $grid-gutter, true );

		}

	}	

	// Breakpoints
	@each $key, $value in $grid-breakpoints {	

		// Define selectors
		@include respond-to( $key ) {

			// Loop
			@for $column from 1 through $grid-columns {

				// Define fluid and fullwidth values
				@if $key == tablet-landscape or $key == desktop {

					// Define grid rows
					.#{$grid-column-name}-#{$column} {

						@include grid-column( $column );

					}

					// Define grid pull
					.#{$grid-pull-name}-#{$column} {

						@include grid-pull( $column );

					}

					// Define grid push
					.#{$grid-push-name}-#{$column} {

						@include grid-push( $column );

					}

					// Define grid offset
					.#{$grid-offset-name}-#{$column} {

						@include grid-offset( $column );

					}					

				}

			}

		}

	}

}
