/*
	@file:
		_head.scss

	@description:
		Example of 'head' specific styles
	
	@implementation:
		File is included in the main.scss file via the
		@include function
*/

#header {
  
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  
  width: 100%;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.05);
  background-color: $color--white;
  
  transition: box-shadow 0.4s cubic-bezier(0.73, 0.14, 0.14, 0.78);
  
  .sideMenu--open & {
  
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0);
    
  }
  
  .header--wrapper {
  
    @include grid-container(rem(1220px));
    padding: rem(20px);
    box-sizing: border-box;
    width: 100%;
    //max-width: rem(1240px);
    //padding: rem(20px);
    //box-sizing: border-box;
    margin: 0 auto;
    //background-color: $color--white;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  
}

#logo {
  
  width: rem(151px);
  height: rem(27px);
  
  svg {
    
    width: 100%;
    height: auto;
    
  }

}

#menu {
  
  #hamburger {
  
    @include respond-to('mobile') {
      
      display: block;
    
    }
  
    @include respond-to('tablet-portrait') {
  
      display: block;
    
    }
  
    @include respond-to('tablet-landscape') {
  
      display: none;
    
    }
  
    @include respond-to('desktop') {
  
      display: none;
    
    }
    
    position: absolute;
    right: rem(20px);
    top: 50%;
    transform: translateY(-50%);
    
    width: rem(24px);
    height: rem(16px);
    display: block;
    
    cursor: pointer;
    
    span {
      
      width: rem(24px);
      height: 1px;
      position: absolute;
      
      background-color: $color--grey;
      
      //@include animationBezier;
      
      &:nth-child(1) {
  
        top: 1px;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
  
        transition: transform .2s cubic-bezier(0.73, 0.14, 0.14, 0.78), top .2s .3s cubic-bezier(0.73, 0.14, 0.14, 0.78);
        
      }
      
      &:nth-child(2) {
  
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
  
        transition: all .2s .3s cubic-bezier(0.73, 0.14, 0.14, 0.78);
        
      }
      
      &:nth-child(3) {
  
        bottom: -1px;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
  
        transition: transform .2s cubic-bezier(0.73, 0.14, 0.14, 0.78), bottom .2s .3s cubic-bezier(0.73, 0.14, 0.14, 0.78);
        
      }
      
      .sideMenu--open & {
  
        &:nth-child(1) {
    
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  
          transition: top .2s cubic-bezier(0.73, 0.14, 0.14, 0.78), transform .2s .3s cubic-bezier(0.73, 0.14, 0.14, 0.78);
          
        }
  
        &:nth-child(2) {
    
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%);
          width: 0;
  
          transition: all .2s cubic-bezier(0.73, 0.14, 0.14, 0.78);
    
        }
  
        &:nth-child(3) {
    
          bottom: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%) rotate(45deg);
  
          transition: bottom .2s cubic-bezier(0.73, 0.14, 0.14, 0.78), transform .2s .3s cubic-bezier(0.73, 0.14, 0.14, 0.78);
    
        }
        
      }
      
    }
    
  }
  
  .menu--wrapper {
  
    @include respond-to('mobile') {
  
      display: none;
    
    }
  
    @include respond-to('tablet-portrait') {
  
      display: none;
    
    }
  
    @include respond-to('tablet-landscape') {
  
      display: flex;
    
    }
  
    @include respond-to('desktop') {
  
      display: flex;
    
    }
    
    align-items: center;
  
  }
  
  .menuList {
    
    
    
    li {
  
      display: inline-block;
      padding: rem(0px) rem(30px);
      position: relative;
      
      &:after {
        
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        
        width: rem(1px);
        background-color: $color--grey__light;
        
      }
      
    }
    
    a {
      
      @include rfs(14);
      line-height: 1;
      font-weight: $weight--medium;
      color: $color--grey;
      
      @include animationBezier;
      
      &:hover {
        
        color: darken($color--grey, 25%);
        
      }
    
    }
    
  }
  
  .userAcc {
    
    cursor: pointer;
    
    &:hover {
      
      .userName {
  
        color: darken($color--grey, 25%);
        
      }
      
    }
    
    span {
      
      display: inline-block;
      vertical-align: middle;
    
    }
    
    .userName {
  
      @include rfs(14);
      line-height: 1;
      font-weight: $weight--medium;
      color: $color--grey;
  
      padding: rem(0px) rem(20px) rem(0px) rem(30px);
      
      @include animationBezier;
    
    }
    
    .userImg {
      
      width: rem(40px);
      height: rem(40px);
    
    }
    
    img {
      
      width: 100%;
      height: auto;
      
    }
    
  }
  
}

